body {
	background-color: white;
	min-height: 300px;
}
.main {
	margin: 0;
	padding: 0;
	width: 600px;
	height: auto;
	margin-left: 25px;
}
.mainInfo {
	margin: 0;
	padding: 0;
	background-color: #F4F7FF
}

.product_header {
	font-weight: bold;
	font-size: 20px;
}
#tableInfo {
	padding: 3px;
    width: 200px; /* Ширина таблицы */
    border-spacing: 0px; /* Расстояние между ячейками */
    border-color: black;
    border-width: 1px;
}
td.ng-scope {
	vertical-align: -webkit-baseline-middle;
}
td {
	height: 70px;
	vertical-align: baseline;
}
.titleHeader {
	font-weight: bold;
}
.difFunctions {
    display: -webkit-box;
}
.func {
	padding: 10px;
}

.c {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: #000; /* Цвет текста */
    background: linear-gradient(to bottom, #fff, #D1D1D1); /* Градиент */
    float: right;

  }
 .c:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
}

.price {
	color:black;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.name {
	color:#2a829e;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}
.content {
    width:540px;
    height:auto;
}
.section {
    height:auto;
    margin-left:10px;
    width:150px;
}
.see_more {
	padding-top: 300px;
}
.headOnPopUp{
	width: 600px;
	display: inline-block;
}
.TitleOnPopUp {
	float: left;
	width: 400px;
	margin-bottom: 30px;
	text-align: center;
}
.iconOnPopUp {
	float: right;
}
.buyButton {
	color: #31809c;
	background-color: #e4e41a;
	border: 1px solid #e4e41a; /* Рамка */ 
	border-radius: 15px;
	font-size: 15px;
	height: 29px;
	width: 120px;
	text-align: center;
	text-decoration: none;
	float: left;
	position: fixed;
    bottom: 2px;
    left: 20px;
}
.buyButton1 {
	line-height: 1.7;
	color: #31809c;
	background-color: #e4e41a;
	border: 1px solid #e4e41a; /* Рамка */ 
	border-radius: 15px;
	font-size: 15px;
	height: 26px;
	width: 120px;
	text-align: center;
	text-decoration: none;
	float: right;
	position: fixed;
    bottom: 2px;
    right: 20px;
}
.difFunctions {
	background-color: #e4e41a;
    position: fixed;
    height: 52px;
    top: 0;
    right: 0;
    left: 0;
}
.typeCetegory {
	background-color: #e4e41a;
	position: fixed;
    top: 52px;
    right: 0;
    left: 0;
}
}
.find {
	float: right;
}
.td {
	text-align: center;
}
.img.delOne {
	padding-left: 40px;
}