<html ng-app="phonecatApp">
<head>
  <script src="js/angular.js"></script>
  <script src="js/controllers.js"></script>
 
   <title>BuyCheaper</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body ng-controller="PhoneListCtrl">
<div class="difFunctions">
  <div><img src="images/icon.png"  width='35px'></div>
  <div class="func"  class="find">
    ѕоиск: <input ng-model="query">
  </div>
  <div class="func">
    <img src="images/sort.png" class="sortIcon">
    <select ng-model="orderProp">
      <option value="">дате добавлени€</option>
      <option value="name">алфавиту</option>
      <option value="price">возрастанию</option>
    </select>
  </div>    
</div>
<div id="main" ng-app>
    <div class="typeCetegory">
        <nav class="{{active}}" ng-click="$event.preventDefault()">
            <a href="#" ng-click="setFilter()">ѕоказать все</a>
            <a ng-repeat="type in types" href="#" ng-click="setFilter(type)"> {{type}} </a>        
        </nav>
    </div>
    <table id = "table1">
    <tr>
      <td>
        <table id="tableInfo">
          <tr><td><div class="clearAll"></div></td></tr>
          <tr><td><div class="pic"></div></td></tr>
          <tr><td><div class="titleHeader">наименование</div></td></tr>
          <tr><td><div class="storage">магазин</div></td></tr>
          <tr><td><div class="price">цена</div></td></tr>
          <tr><td>категори€</td></tr>
          <tr><td>характеристики</td></tr>
        </table>
      </td>
      <td ng-repeat="phone in phones  | filter:active | orderBy:orderProp">
      <table id="tableInfo">
        <tr><td ><div class="delOne"><a ng-click="remove(phone.url)" href="#"><img src="images/del.png" class="delOne"></a></div></td></tr>
        <tr><td><img src="{{phone.photo}}" class="pic"></td></tr>
        <tr><td ><div class="titleHeader"><a href="{{phone.url}}">{{phone.name}}</a></div></td></tr>
        <tr><td><div class="storage">{{phone.store}}</div></td></tr>
        <tr><td><div class="price">{{phone.price}}</div></td></tr>
        <tr><td>{{phone.type}}</td></tr>
        <tr><td>{{phone.other}}</td></tr>
        
      </table>
      </td>
    </tr>
</table>



</div>

  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/infoScript.js"></script>
</body>
</html>